.testeContato{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../images/backConteudos.png');
}
.testeContato h1{
    color: #fff;
}
